@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	background-color: #D8D8D8;
}

header {
	float: left;
}

nav {
	float: right;
}

main {
	clear: both;
}

aside {
	clear: both;
	float: right;
	margin: 20px;
}

img {
	width: 50px;
	height: 50px;
}

.main-a-propos-de {
	clear: both;
}